<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
		<staticContent>
			<remove fileExtension=".woff"/>
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
		</staticContent>
    </system.webServer>
</configuration>
